In [1]:
#Load in libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Read in csv files
red = pd.read_csv('Red.csv')
white = pd.read_csv('White.csv')
sparkling = pd.read_csv('Sparkling.csv')
rose = pd.read_csv('Rose.csv')

In [3]:
#Starting with Rose since it looks the smallest
rose

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Mad Méditerranée Rosé 2019,France,Méditerranée,Château Camparnaud,4.0,25,10.11,2019
1,Redoma Rosé 2019,Portugal,Douro,Niepoort,3.9,25,12.81,2019
2,Fantini Cerasuolo d'Abruzzo 2019,Italy,Abruzzo,Farnese,3.6,25,5.60,2019
3,Mount Hermon Rosé 2017,Israel,Galilee,Hermon,3.4,25,12.14,2017
4,La Villa Rosé 2018,France,Languedoc,Château La Sauvageonne,4.6,25,68.95,2018
...,...,...,...,...,...,...,...,...
392,Côte des Roses Rosé 2019,France,Languedoc,Gérard Bertrand,3.9,1750,9.36,2019
393,M Rosé 2019,France,Côtes de Provence,Minuty,4.0,2046,12.85,2019
394,Whispering Angel Rosé 2019,France,Côtes de Provence,Château d'Esclans,4.2,2990,16.47,2019
395,Vinho Verde Rosé N.V.,Portugal,Vinho Verde,Casal Garcia,3.5,9493,4.35,N.V.
396,The Original Rosé N.V.,Portugal,Douro,Mateus,3.6,29531,5.99,N.V.

```
There are only 8 variables in this dataset and all of them I plan to use at some point, so I don't need to remove any columns like other projects. First thing I want to look at is whether there are any null values. 
```

In [4]:
#look for null values
rose.isnull().sum()

Name               0
Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [5]:
#describe rose
rose.describe()

           Rating  NumberOfRatings       Price
count  397.000000       397.000000  397.000000
mean     3.741310       261.727960   12.525743
std      0.273042      1568.108597   16.037644
min      2.700000        25.000000    3.670000
25%      3.600000        40.000000    7.190000
50%      3.700000        72.000000    8.900000
75%      3.900000       167.000000   12.850000
max      4.800000     29531.000000  249.000000

In [6]:
#add a column for Type
rose.insert(0, 'Type', 'Rose')

In [7]:
#verify new column is present
rose

,Type,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Rose,Mad Méditerranée Rosé 2019,France,Méditerranée,Château Camparnaud,4.0,25,10.11,2019
1,Rose,Redoma Rosé 2019,Portugal,Douro,Niepoort,3.9,25,12.81,2019
2,Rose,Fantini Cerasuolo d'Abruzzo 2019,Italy,Abruzzo,Farnese,3.6,25,5.60,2019
3,Rose,Mount Hermon Rosé 2017,Israel,Galilee,Hermon,3.4,25,12.14,2017
4,Rose,La Villa Rosé 2018,France,Languedoc,Château La Sauvageonne,4.6,25,68.95,2018
...,...,...,...,...,...,...,...,...,...
392,Rose,Côte des Roses Rosé 2019,France,Languedoc,Gérard Bertrand,3.9,1750,9.36,2019
393,Rose,M Rosé 2019,France,Côtes de Provence,Minuty,4.0,2046,12.85,2019
394,Rose,Whispering Angel Rosé 2019,France,Côtes de Provence,Château d'Esclans,4.2,2990,16.47,2019
395,Rose,Vinho Verde Rosé N.V.,Portugal,Vinho Verde,Casal Garcia,3.5,9493,4.35,N.V.
396,Rose,The Original Rosé N.V.,Portugal,Douro,Mateus,3.6,29531,5.99,N.V.

In [8]:
#Look at sparkling
sparkling

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Crémant de Loire Brut 2017,France,Crémant de Loire,Langlois-Chateau,3.9,25,14.41,2017
1,Vicar's Choice Sauvignon Blanc Bubbles 2019,New Zealand,Marlborough,Saint Clair,4.2,25,11.90,2019
2,Crémant de Limoux Brut N.V.,France,Crémant de Limoux,Prima Perla,3.5,25,14.32,N.V.
3,Athesis Brut 2016,Italy,Südtirol - Alto Adige,Kettmeir,4.0,25,21.50,2016
4,Blanc de Blancs Réserve Brut Nature N.V.,Germany,Pfalz,Eymann,3.9,25,31.18,N.V.
...,...,...,...,...,...,...,...,...
1002,Special Cuvée Brut Aÿ Champagne N.V.,France,Champagne,Bollinger,4.2,37765,46.00,N.V.
1003,Brut Premier Champagne N.V.,France,Champagne Premier Cru,Louis Roederer,4.2,40004,36.48,N.V.
1004,Impérial Brut Champagne N.V.,France,Champagne,Moët & Chandon,4.1,76037,40.61,N.V.
1005,Brut (Carte Jaune) Champagne N.V.,France,Champagne,Veuve Clicquot,4.2,86839,43.60,N.V.
1006,Brut Champagne N.V.,France,Champagne,Dom Pérignon,4.6,94287,170.00,N.V.

In [9]:
#look for null values
sparkling.isnull().sum()

Name               0
Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [10]:
#Look at description of dataset
sparkling.describe()

            Rating  NumberOfRatings        Price
count  1007.000000      1007.000000  1007.000000
mean      3.880834      1506.080437    34.803426
std       0.269194      5731.196776    47.288413
min       3.200000        25.000000     3.150000
25%       3.700000       102.000000    11.900000
50%       3.800000       259.000000    19.450000
75%       4.100000       844.000000    39.045000
max       4.700000     94287.000000   495.000000

In [11]:
#add column type
sparkling.insert(0, 'Type', 'Sparkling')

In [12]:
#verify new column is present
sparkling

,Type,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Sparkling,Crémant de Loire Brut 2017,France,Crémant de Loire,Langlois-Chateau,3.9,25,14.41,2017
1,Sparkling,Vicar's Choice Sauvignon Blanc Bubbles 2019,New Zealand,Marlborough,Saint Clair,4.2,25,11.90,2019
2,Sparkling,Crémant de Limoux Brut N.V.,France,Crémant de Limoux,Prima Perla,3.5,25,14.32,N.V.
3,Sparkling,Athesis Brut 2016,Italy,Südtirol - Alto Adige,Kettmeir,4.0,25,21.50,2016
4,Sparkling,Blanc de Blancs Réserve Brut Nature N.V.,Germany,Pfalz,Eymann,3.9,25,31.18,N.V.
...,...,...,...,...,...,...,...,...,...
1002,Sparkling,Special Cuvée Brut Aÿ Champagne N.V.,France,Champagne,Bollinger,4.2,37765,46.00,N.V.
1003,Sparkling,Brut Premier Champagne N.V.,France,Champagne Premier Cru,Louis Roederer,4.2,40004,36.48,N.V.
1004,Sparkling,Impérial Brut Champagne N.V.,France,Champagne,Moët & Chandon,4.1,76037,40.61,N.V.
1005,Sparkling,Brut (Carte Jaune) Champagne N.V.,France,Champagne,Veuve Clicquot,4.2,86839,43.60,N.V.
1006,Sparkling,Brut Champagne N.V.,France,Champagne,Dom Pérignon,4.6,94287,170.00,N.V.

In [13]:
#Look at white
white

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018
...,...,...,...,...,...,...,...,...
3759,Sauvignon Blanc 2019,New Zealand,Marlborough,Oyster Bay,4.0,4423,10.66,2019
3760,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,N.V.
3761,Sauvignon Blanc 2018,New Zealand,Marlborough,Kim Crawford,3.9,5105,14.90,2018
3762,Sauvignon Blanc 2019,New Zealand,Marlborough,Hans Greyl,4.2,5817,7.75,2019
3763,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,N.V.

In [14]:
#Check for null values
white.isnull().sum()

Name               0
Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [15]:
#description of white
white.describe()

            Rating  NumberOfRatings        Price
count  3764.000000      3764.000000  3764.000000
mean      3.817906       187.567216    20.620319
std       0.266827      1071.470441    30.928415
min       2.200000        25.000000     3.740000
25%       3.600000        43.000000     9.260000
50%       3.800000        77.000000    13.150000
75%       4.000000       174.250000    20.865000
max       4.900000     62980.000000   681.370000

In [16]:
#add column for type
white.insert(0, 'Type', 'White')

In [17]:
#verify new column is present
white

,Type,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,White,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017
1,White,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010
2,White,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017
3,White,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018
4,White,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018
...,...,...,...,...,...,...,...,...,...
3759,White,Sauvignon Blanc 2019,New Zealand,Marlborough,Oyster Bay,4.0,4423,10.66,2019
3760,White,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,N.V.
3761,White,Sauvignon Blanc 2018,New Zealand,Marlborough,Kim Crawford,3.9,5105,14.90,2018
3762,White,Sauvignon Blanc 2019,New Zealand,Marlborough,Hans Greyl,4.2,5817,7.75,2019
3763,White,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,N.V.

In [18]:
#Look at red
red

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016
...,...,...,...,...,...,...,...,...
8661,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016
8662,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016
8663,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010
8664,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

In [19]:
#Look for null values in red
red.isnull().sum()

Name               0
Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [20]:
#description of red
red.describe()

            Rating  NumberOfRatings        Price
count  8666.000000      8666.000000  8666.000000
mean      3.890342       415.287445    39.145065
std       0.308548       899.726373    84.936307
min       2.500000        25.000000     3.550000
25%       3.700000        66.000000    10.680000
50%       3.900000       157.000000    18.200000
75%       4.100000       401.000000    38.142500
max       4.800000     20293.000000  3410.790000

In [21]:
#add new column of type
red.insert(0, 'Type', 'Red')

In [22]:
#verify column is present
red

,Type,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Red,Pomerol 2011,France,Pomerol,Château La Providence,4.2,100,95.00,2011
1,Red,Lirac 2017,France,Lirac,Château Mont-Redon,4.3,100,15.50,2017
2,Red,Erta e China Rosso di Toscana 2015,Italy,Toscana,Renzo Masi,3.9,100,7.45,2015
3,Red,Bardolino 2019,Italy,Bardolino,Cavalchina,3.5,100,8.72,2019
4,Red,Ried Scheibner Pinot Noir 2016,Austria,Carnuntum,Markowitsch,3.9,100,29.15,2016
...,...,...,...,...,...,...,...,...,...
8661,Red,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016
8662,Red,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016
8663,Red,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010
8664,Red,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Red,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

```
After looking at all four datasets each one of them are completely clean with no null values or major outliers that are sticking out at the moment. Also all columns are needed for my analysis so did not have to remove any columns. My next step is to combine all four datasets into one so I can load into PowerBi and start looking at things with visualizations.
```

In [23]:
#Combine dataframes into one
wine = pd.concat([rose, sparkling, white, red], axis=0)
wine

,Type,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Rose,Mad Méditerranée Rosé 2019,France,Méditerranée,Château Camparnaud,4.0,25,10.11,2019
1,Rose,Redoma Rosé 2019,Portugal,Douro,Niepoort,3.9,25,12.81,2019
2,Rose,Fantini Cerasuolo d'Abruzzo 2019,Italy,Abruzzo,Farnese,3.6,25,5.60,2019
3,Rose,Mount Hermon Rosé 2017,Israel,Galilee,Hermon,3.4,25,12.14,2017
4,Rose,La Villa Rosé 2018,France,Languedoc,Château La Sauvageonne,4.6,25,68.95,2018
...,...,...,...,...,...,...,...,...,...
8661,Red,6th Sense Syrah 2016,United States,Lodi,Michael David Winery,3.8,994,16.47,2016
8662,Red,Botrosecco Maremma Toscana 2016,Italy,Maremma Toscana,Le Mortelle,4.0,995,20.09,2016
8663,Red,Haut-Médoc 2010,France,Haut-Médoc,Château Cambon La Pelouse,3.7,996,23.95,2010
8664,Red,Shiraz 2019,Australia,South Eastern Australia,Yellow Tail,3.5,998,6.21,2019
8665,Red,Portillo Cabernet Sauvignon 2016,Argentina,Tunuyán,Salentein,3.4,999,7.88,2016

In [25]:
#Had to come back to fix this. Change N.V. in year to 0
wine['Year'].replace('N.V.', 0, inplace = True)

In [26]:
#save new dataframe as csv
wine.to_csv('wine_review.csv')